@font-face {
    font-family: "Q";
    src: url("Quicksand-VariableFont_wght.ttf");
}

* {
    font-family: "Q";
}
#message {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    /* margin-top: 50px; */
}


#inner-message {
    margin: 0 auto;
}


.cssbuttons-io-button {
    background: #A370F0;
    color: white;
   width:100%;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    margin-top: 20px;
   }
   
   .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
   }
   
   .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
   }
   
   .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
   }
   
   .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
   }
   
   .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
   }

   /* 2 */
   .cssbuttons-io-button1 {
    background: #ffa500;
    color: white;
   width:100%;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #ff8c00;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    margin-top: 20px;
   }
   
   .cssbuttons-io-button1 .icon1 {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #ffa343;
    right: 0.3em;
    transition: all 0.3s;
   }
   
   .cssbuttons-io-button1:hover .icon1 {
    width: calc(100% - 0.6em);
   }
   
   .cssbuttons-io-button1 .icon1 svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #ffa343;
   }
   
   .cssbuttons-io-button1:hover .icon1 svg {
    transform: translateX(0.1em);
   }
   
   .cssbuttons-io-button1:active .icon1 {
    transform: scale(0.95);
   }
     /* 3 */
     .cssbuttons-io-button3 {
        background: #00ced1;
        color: white;
       width:100%;
        padding: 0.35em;
        padding-left: 1.2em;
        font-size: 17px;
        font-weight: 500;
        border-radius: 0.9em;
        border: none;
        letter-spacing: 0.05em;
        display: flex;
        align-items: center;
        box-shadow: inset 0 0 1.6em -0.6em #0abab5;
        overflow: hidden;
        position: relative;
        height: 2.8em;
        padding-right: 3.3em;
        margin-top: 20px;
       }
       
       .cssbuttons-io-button3 .icon3 {
        background: white;
        margin-left: 1em;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.2em;
        width: 2.2em;
        border-radius: 0.7em;
        box-shadow: 0.1em 0.1em 0.6em 0.2em  #08e8de;
        right: 0.3em;
        transition: all 0.3s;
       }
       
       .cssbuttons-io-button3:hover .icon3 {
        width: calc(100% - 0.6em);
       }
       
       .cssbuttons-io-button3 .icon3 svg {
        width: 1.1em;
        transition: transform 0.3s;
        color: #08e8de;
       }
       
       .cssbuttons-io-button3:hover .icon3 svg {
        transform: translateX(0.1em);
       }
       
       .cssbuttons-io-button3:active .icon3 {
        transform: scale(0.95);
       }
         /* 4 */
   .cssbuttons-io-button4 {
    background:#a81c07;
    color: white;
   width:100%;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #92000a;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    margin-top: 20px;
   }
   
   .cssbuttons-io-button4 .icon4 {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #c40233;
    right: 0.3em;
    transition: all 0.3s;
   }
   
   .cssbuttons-io-button4:hover .icon4 {
    width: calc(100% - 0.6em);
   }
   
   .cssbuttons-io-button4 .icon4 svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #c40233;
   }
   
   .cssbuttons-io-button4:hover .icon4 svg {
    transform: translateX(0.1em);
   }
   
   .cssbuttons-io-button4:active .icon4 {
    transform: scale(0.95);
   }